<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Triplo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhai">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body>
    <div id="header_block">
        <div class="container">
            <div class="row" id="image_header_row">
                <div class="col-md-12"><img src="static/assets/img/triplodocusLOGO 2.png"></div>
            </div>
            <div class="row" id="header_heading_row">
                <div class="col-md-12">
                    <h1>triplodocus. est un dinosaure à 3 têtes.</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="histoire_block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <p><strong>triplodocus. propose une pop française alternative et singulière,située au carrefour de leurs influences, entre rap et house, 
                disco et variété française.</strong><br><br>Le trio déploie une musique chaleureuse et élégante, 
                teintée de second degré. De là naît une identité visuelle qui apparaît comme une évidence dans une ambiance colorée et théâtrale.
                <br><br>Formé en 2017, triplodocus résulte de la complémentarité et l’amitié de ses trois membres aux longs cous: WAM, Madud et Wish, 
                tous issus de la région parisienne.</p></div>
            </div>
        </div>
    </div>
    <div id="derniers_sorties_block">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <h1>NOS DERNIERES SORTIES</h1>
                </div>
            </div>
            <div class="row" style="margin-top: 100px;margin-left: 0px;">
                <div class="col-md-12 col-xl-5"><span id="en_avant_span">&nbsp; NOTRE PREMIER CLIP&nbsp;&nbsp;</span></div>
            </div>
            <div class="row" id="en_avant_row">
                <div class="col-md-6">
                <iframe allowfullscreen="" frameborder="0" width="560" height="315" src="https://www.youtube.com/embed/ZXEfCtGw28g">
                </iframe>
                <span id="realisation_span">Clip réalisé avec Pierre BELLEC. Avec Julie UNG</span>
                </div>
                <div class="col-md-6 justify-content-center">
                    <div class="row">
                        <div class="col"><img id="image_en_avant" src="static/assets/img/magiffingerjoetexte.png"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                            «&nbsp;Magic Finger Joe&nbsp;» est le premier morceau clippé des triplodocus. 
                            Il conte l’histoire d’un DJ déchu, caricature d’un roi de la nuit séducteur, devenu ringard, 
                            cloué aux souvenirs de ses vieilles aventures.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 100px;margin-left: 0px;">
                <div class="col-md-12 col-xl-5"><span id="dernier_projet_span" style="margin-bottom: -;">&nbsp; NOTRE DERNIER PROJET&nbsp;&nbsp;</span></div>
            </div>
            <div class="row" id="dernier_son_row" style="margin-top: 20px;">
                <div class="col-md-6">
                <iframe allowfullscreen="" frameborder="0" width="560" height="315" src="https://www.youtube.com/embed/BF4a6v-WGZA">
                </iframe>
                <span id="realisation_span_dernier">
                Réalisé par Juliette Bly
                </span></div>
                <div class="col-md-6 justify-content-center">
                    <div class="row">
                        <div class="col"><img id="image_dernier" src="static/assets/img/Groupe 23.png"></div>
                    </div>
                    <div class="row">
                        <div class="col" id="resume_dernier_col">
                            <p id="dernier_paragraph">ALEXANDRIE ALEXANDRA</p><span>hors série #1</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="concept_block">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <h1>LE CONCEPT</h1>
                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12">
                    <h3>Un nouveau morceau chaque 3 du mois</h3>
                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-4" style="height: 374px;">
                    <div class="row">
                        <div class="col-xl-11" style="background: #8E8B86 0% 0% no-repeat padding-box;">
                        <span style="font-size: 50px;letter-spacing: 0px;color: #FAF7F3;font-family: &quot;Bondi&quot;;">
                        MAI
                        </span></div>
                    </div>
                    <div class="row">
                        <div class="col-xl-11" style="border: 3px solid #8E8B86;height: 250px;">
                        <span style="font-size: 150px;color: #8E8B86;font-family: &quot;Bondi&quot;;">
                        3
                        </span></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xl-11" style="background: #4C7936 0% 0% no-repeat padding-box;"><span style="font-size: 50px;letter-spacing: 0px;color: #FAF7F3;font-family: &quot;Bondi&quot;;">JUIN</span></div>
                    </div>
                    <div class="row">
                        <div class="col-xl-11" style="background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 3px 6px #00000022;height: 250px;"><span style="font-size: 150px;font-family: &quot;Bondi&quot;;">3</span></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xl-11" style="background: #8E8B86 0% 0% no-repeat padding-box;"><span style="font-size: 50px;letter-spacing: 0px;color: #FAF7F3;font-family: &quot;Bondi&quot;;">JUILLET</span></div>
                    </div>
                    <div class="row">
                        <div class="col-xl-11" style="border: 3px solid #8E8B86;height: 250px;"><span style="font-size: 150px;font-family: &quot;Bondi&quot;;color: #8E8B86;">3</span></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 75px;">
                <div class="col-md-12">
                    <h3>Une pochette animée pour chaque morceau</h3>
                </div>
            </div>
            <div class="row no-gutters" style="margin-top: 66.48px;margin-left: -39px;">
                <div class="col offset-xl-0" style="margin-right: 50px;"><img src="static/assets/img/Annotation 2020-06-10 225055.png" style="max-width: 371px;max-height: 375px;"></div>
                <div class="col" style="margin-right: 50px;/*margin-left: 5px;*/"><img src="static/assets/img/Annotation 2020106-10 225055.png" style="height: 375px;"></div>
                <div class="col"><img src="static/assets/img/Annotation 2020106-1225055.png" style="max-width: 371px;max-height: 375px;"></div>
            </div>
        </div>
    </div>
    <div id="projet_galerrie_row">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <h1>NOS PROJETS</h1>
                </div>
            </div>
            <div class="row no-gutters" id="pochette_row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xl-9"><img class="pochette" src="static/assets/img/alexandrieCOver.png"></div>
                    </div>
                    <div class="row">
                        <div class="col"><img class="titre_pochette" src="static/assets/img/ALEXANDRIEALEXANDRA.svg"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xl-9"><img class="pochette" src="static/assets/img/AutonomieCover.jpg"></div>
                    </div>
                    <div class="row" style="display: flex;">
                        <div class="col"><img class="titre_pochette" src="static/assets/img/autonomie.png"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xl-9"><img class="pochette" src="static/assets/img/SOire╠üeClub.png"></div>
                    </div>
                    <div class="row">
                        <div class="col"><img class="titre_pochette" src="static/assets/img/soire╠üeclub.svg"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xl-9"><img class="pochette" src="static/assets/img/magiccover.png"></div>
                    </div>
                    <div class="row">
                        <div class="col"><img class="titre_pochette" src="static/assets/img/magicfingerNoir.png"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xl-9"><img class="pochette" src="static/assets/img/coverparapluie.jpg"></div>
                    </div>
                    <div class="row">
                        <div class="col"><img class="titre_pochette" src="static/assets/img/Parapluie.png"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xl-9"><img class="pochette" src="static/assets/img/Cover Un truc comme ├ºa.jpg"></div>
                    </div>
                    <div class="row">
                        <div class="col"><img class="titre_pochette" src="static/assets/img/untruccommeca.png"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xl-9"><img class="pochette" src="static/assets/img/Cover 4 couleurs.jpg"></div>
                    </div>
                    <div class="row">
                        <div class="col"><img class="titre_pochette" src="static/assets/img/4couleurs.png"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xl-9"><img class="pochette" src="static/assets/img/ExploitsCover.jpg"></div>
                    </div>
                    <div class="row">
                        <div class="col"><img class="titre_pochette" src="static/assets/img/exploitssexuels.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="social_media_block">
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr>
                </div>
                <div class="col-xl-5 d-inline-block" style="text-align: center;"><span style="display: inline-block;vertical-align: middle;"><img src="static/assets/img/Deezer.png" style="margin-right: 20px;"><img src="static/assets/img/Apple.png" style="margin-right: 20px;"><img src="static/assets/img/Youtube.png" style="margin-right: 20px;"><img src="static/assets/img/Spotify.png"></span></div>
                <div
                    class="col">
                    <hr>
            </div>
        </div>
        <section id="social_media" style="margin-top: 338px;"></section>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>