{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>

<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172039803-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172039803-1');
</script>
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Triplo v2</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhai">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>

<body>
{% if user.is_authenticated %}
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
        <div class="navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
<span class="navbar-text actions">
<a class="nav-link btn btn-success action-button" href="{% url 'groupe-admin' %}" style="color:white;">Page administrative</a></span>
            </ul>
            <span class="navbar-text actions"><a class="btn btn-light action-button" role="button" href="{%url 'deconnexion'%}">Deconnexion</a></span></div>
    </div>
</nav>{% endif %}
    <div id="header_block" style="/*display: none;*/">
        <div class="container">
            <div class="row" id="image_header_row">
                <div class="col-md-12"><img src="static/assets/img/triplodocusLOGO 2.png"></div>
            </div>
            <div class="row" id="header_heading_row">
                <div class="col-md-12">
                    <h1>triplodocus. est un dinosaure à 3 têtes.</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="histoire_block">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><p><strong>triplodocus. propose une pop française alternative et singulière,située au carrefour de leurs influences, entre rap et house, disco et variété française.</strong><br><br>Le trio déploie une musique chaleureuse et élégante, teintée de second degré. De là naît une identité visuelle qui apparaît comme une évidence dans une ambiance colorée et théâtrale.<br><br>Formé en 2017, triplodocus résulte de la complémentarité et l’amitié de ses trois membres aux longs cous: WAM, Madud et Wish, tous issus de la région parisienne.</p></div>
            </div>
        </div>
    </div>
    <div id="derniers_sorties_block">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <h1>NOS DERNIERES SORTIES</h1>
                </div>
            </div>
            <!-- CLIP MIT EN AVANT-->
            {% if en_avant %}
            <div class="row" style="margin-top: 100px;margin-left: 0px;">
                <div class="col-9 col-md-12 col-xl-5 offset-1">
                <span id="en_avant_span" style="background: {{style.banniere_background}} 0% 0% no-repeat padding-box;
                        color: {{style.banniere_couleur}}">{{style.banniere_titre}}</span></div>
            </div>
            <div class="row" id="en_avant_row" 
            style="position: relative; background:{{style.background_corps}} 0% 0% no-repeat padding-box;">
               
                {% if user.is_authenticated %}
                <span id="edit_badge_{{son.titre}}" class="badge badge-primary" 
                style="cursor : pointer; position: absolute; top: -29px;right: -10px; font-size:medium">
                    <i class="far fa-edit" data-toggle="modal" data-target="#modalEdit"></i></span>
                {% endif %}
                <div class="col-md-6"><iframe allowfullscreen frameborder="0" id='iframe_en_avant'
                src="{{en_avant.youtube}}"></iframe><span id="realisation_span">{{en_avant.realisation}}</span></div>
                <div class="col-md-6 justify-content-center">
                    <div class="row">
                        <div class="col"><img id="image_en_avant" src="{{en_avant.titre_image.url}}"></div>
                    </div>
                    <div class="row resume_row">
                        <div class="col">
                            <p id="p_resume" style="color:{{style.couleur_corps}}"> {{en_avant.resume}}
                        </div>
                    </div>
                
                </div>
            </div>
        
           <!-- Modal Edit en avant -->
           <div class="modal fade" role="dialog" tabindex="-1" id="modalEdit">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row" style="justify-content: center;">
                                <div class="col-xl-12 offset-xl-3">
                                    <h4 class="modal-title" style="font-family: comfortaa;">Edition en avant </h4>
                                </div>
                            </div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                        <div class="modal-body">
                        <form id="form_edit_en_avant" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            {{stylesUpdateForm|crispy}}
                        <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Annuler</button><button class="btn btn-primary" type="submit">Enregistrer</button></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
            {% endif %}
            <!-- ---------------------------------------------------------------------------- -->

            <!-- DERNIER CLIP-->
            <div class="row" style="margin-top: 100px;margin-left: 0px;">
                <div class="col-md-12 col-xl-5"><span id="dernier_projet_span" style="margin-bottom: -;">&nbsp; NOTRE DERNIER PROJET&nbsp;&nbsp;</span></div>
            </div>
            <div class="row" id="dernier_son_row" style="margin-top: 20px;">
                <div class="col-md-6">
                <iframe allowfullscreen frameborder="0" id="iframe_dernier" src={{dernier.youtube}}></iframe>
                <span id="realisation_span_dernier">{{dernier.realisation}}</span></div>
                <div class="col-md-6 justify-content-center">
                    <div class="row">
                        <div class="col"><img id="image_dernier" src="{{dernier.titre_image.url}}"></div>
                    </div>
                    <div class="row resume_row">
                        <div class="col">
                            <p id="dernier_paragraph"> {{dernier.resume}}</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="concept_block" style="/*display: none;*/">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <h1>LE CONCEPT</h1>
                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12">
                    <h3>Un nouveau morceau chaque 3 du mois</h3>
                </div>
            </div>
            <div class="row row-cols-3" style="margin-top: 50px;">
                <div class="col"><img class="calendrier" src="static/assets/img/3_mais.png"></div>
                <div class="col"><img class="calendrier" src="static/assets/img/3_juin.png"></div>
                <div class="col"><img class="calendrier" src="static/assets/img/3_juillet.png"></div>
            </div>
            <div class="row" style="margin-top: 75px;">
                <div class="col-md-12">
                    <h3>Une pochette animée pour chaque morceau</h3>
                </div>
            </div>
            <div class="row row-cols-3 d-flex" style="margin-top: 66.48px;">
                <div class="col offset-xl-0"><img class="pochette_img" src="static/assets/img/Annotation 2020-06-10 225055.png"></div>
                <div class="col"><img class="pochette_img" src="static/assets/img/Annotation 2020-07-01 141607.png"></div>
                <div class="col"><img class="pochette_img" src="static/assets/img/Annotation 2020106-1225055.png"></div>
            </div>
        </div>
    </div>
    <div id="projet_galerrie_row" style="/*display: none;*/">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <h1>NOS PROJETS</h1>
                </div>
            </div>
            <div class="row" id="pochette_row">
                {% for son in sons%}
                    <div class="col-md-3" data-toggle="modal" data-target="#modal{{son.id}}">
                        <div class="row">
                            <div class="col-xl-9"><img class="pochette" src="{{son.poster_image.url}}"></div>
                        </div>
                        <div class="row">
                            <div class="col"><img class="titre_pochette" src="{{son.titre_image.url}}"></div>
                        </div>
                        <span class="round-button"><i class="fa fa-play fa-2x"></i></span>
                    </div>
                        <div class="modal fade" role="dialog" tabindex="-1" id="modal{{son.id}}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="row" style="justify-content:center;">
                                                <div class="col-xl-12 offset-xl-3">
                                                    <h3 class="modal-title" style="font-family: comfortaa;">Ecoutez {{son.titre}} !</h3>
                                                </div>
                                            </div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                        <div class="modal-body">
                                            <div class="container">
                                               {% if son.youtube %}
                                                <div class="row">
                                                    <div class="col-12">
                                                     
                                                        <iframe id="modal_youtube_iframe" allowfullscreen frameborder="0" max-width="560" max-height="315" src="{{son.youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if son.spotify %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <iframe id="modal_spotify_iframe" src="{{son.spotify}}" width="320" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                                    </div>
                                                </div>
                                                 {% endif %}
                                            </div>
                                                <div class="modal-footer"><button class="btn btn-primary" type="button" data-dismiss="modal">Annuler</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                {% endfor %}
                    
            </div>
        </div>
    </div>
    <div id="social_media_block">
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr>
                </div>
                <div class="col-xl-5 d-inline-block" style="text-align: center;">
                <a href="https://www.deezer.com/fr/artist/74564042" target="_blank">
                    <span style="display: inline-block;vertical-align: middle;">
                        <img src="static/assets/img/Deezer.png" style="margin-right: 20px;">
                    </span>
                </a>
                <a href="https://music.apple.com/us/artist/triplodocus/1480872619" target="_blank">
                    <span>
                        <img src="static/assets/img/Apple.png" style="margin-right: 20px;">
                    </span>
                </a>
                <a href="https://www.youtube.com/channel/UCOV61JU3FmI1sQzdRSsxE6g">
                    <span>
                        <img src="static/assets/img/Youtube.png" style="margin-right: 20px;">
                    </span>
                </a>
                <a href="https://open.spotify.com/artist/5UDV3b5gCnS1aKlIX4iZqx">
                    <span>
                        <img src="static/assets/img/Spotify.png">
                    </span>
                </a>
                </div>
                <div
                    class="col">
                    <hr>
            </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/script.min.js"></script>

</body>

</html>