{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172039803-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172039803-1');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Triplo v2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhai">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=" static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href=" static/assets/css/admin.css">
</head>

<!-- Prevent the resubmission of the form-->
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

<body style="font-family:comfortaa;">
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
        <div class="navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
<span class="navbar-text actions">
<a class="nav-link btn btn-primary action-button" href="{% url 'site-acceuil' %}" style="color:white;">Page d'acceuil</a></span>
            </ul>
            <span class="navbar-text actions"><a class="btn btn-light action-button" role="button" href="{%url 'deconnexion'%}">Deconnexion</a></span></div>
    </div>
</nav>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Page administrative</h1>
            </div>
        </div>

    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="row no-gutters">
            <div class="col offset-lg-9"><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal_ajout">Ajouter un son</button></div>
        </div>
    </div>
    <div id="titres_block" style="margin-top:50px">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <h1 style="font-family: &quot;Bondi&quot;;background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 13px;text-align: center;">VOS TITRES</h1>
                </div>
            </div>
            <div class="row" id="titres_block" style="margin-top: 20px;">
            
            {% for son in sons%}
                <div class="col-md-3" style="position: relative;margin-top: 50px; display:flex; flex-direction:column; justify-content:space-between;"
                    onmouseover = "displayBadges('delete_badge_{{son.titre}}', 'edit_{{son.titre}}')"
                    onmouseout ="hideBadges('delete_badge_{{son.titre}}', 'edit_{{son.titre}}')"
                    id="{{son.id}}_col">
                    <div class="row">
                        <div class="col-xl-9"><img class="pochette" src="{{son.poster_image.url}}"></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align:center;"><img class="titre_pochette" src="{{son.titre_image.url}}"></div>
                    </div>
                    <div class="row text-center" style="margin-top: 20px;">
                        <div class="col"><form>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="switch_{{son.id}}" 
                            {%if son.en_avant == True%} checked {% endif %}
                            onclick="changeEnAvant(this.id)">
                            <label class="custom-control-label" for="switch_{{son.id}}">Mettre en avant</label>
                        </div>
                        </form></div>
                    </div>
                    <span id="delete_badge_{{son.titre}}" data-toggle="modal" data-target="#modal_supprimer" 
                    class="badge badge-primary spmodal" 
                    style=" cursor: pointer; visibility:hidden; position: absolute;top: -10px;right: 10px;"
                    onclick= "deleteSong({{son.id}})">
                    <i class="fa fa-remove"></i></span>
                    <span id="edit_{{son.titre}}" data-toggle="modal" data-target="#modal_edit" class="badge badge-primary" style="cursor : pointer; visibility: hidden; position: absolute;top: -10px;left: 10px;"
                     onclick="getSongInfo({{son.id}})" >
                    <i class="far fa-edit"></i></span></div>
                    
            {% endfor %}
                    <!-- MODAL SUPPRESSION -->

                    <div class="modal fade" role="dialog" tabindex="-1" id="modal_supprimer">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="font-family: comfortaa;">Supprimer ce titre ?</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id='hide_span' aria-hidden="true">×</span></button></div>
                                <div class="modal-body">
                                    <p>Cette action suprimerra définitivement toutes les informations lié à ce titre de notre base de données. En êtes-vous sure ?</p>
                                </div>
                                {% csrf_token %}
                                <div class="modal-footer"><button  class="btn btn-light" type="button" data-dismiss="modal">Annuler</button><button class="btn btn-danger" id='button_supprimer' type="button">Supprimer</button></div>
                            </div>
                        </div>
                    </div>
            <!-- Modal ajout de son-->
           <div class="modal fade" role="dialog" tabindex="-1" id="modal_ajout">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row">
                                <div class="col-xl-12 offset-xl-3">
                                    <h4 class="modal-title" style="font-family: comfortaa;">Ajout d'un nouveau son</h4>
                                </div>
                            </div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                        <div class="modal-body">
                            <form id="form_ajout" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                    {{form_song|crispy}}
                                    
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Annuler</button><button class="btn btn-primary" type="submit">Enregistrer</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Modal Edit -->
            <div class="modal fade" role="dialog" tabindex="-1" id="modal_edit">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row" style="justify-content:center;">
                                <div class="col-xl-12 offset-xl-3">
                                    <h4 class="modal-title" style="font-family: comfortaa;" id="h4_edit"></h4>
                                </div>
                            </div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                        <div class="modal-body">
                            <form id="form_edit" method="POST" enctype="multipart/form-data" >
                                <input type="hidden" name="" value="">
                                    <div id="div_id_titre" class="control-group">
                                         <label for="id_titre" class="control-label requiredField">Titre<span class="asteriskField">*</span> </label> 
                                            <div class="controls"> <input type="text" name="titre" maxlength="255" class="textinput textInput" required="" id="id_titre_edit"> </div> 
                                    </div> 
                                    <div id="div_id_titre_image" class="control-group"> <label for="id_titre_image" class="control-label requiredField">
                                    Titre image<span class="asteriskField">*</span> </label>
                                   
                                        <div class="controls">
                                            <input type="file" name="titre_image" accept="image/*" class="clearablefileinput" id="id_titre_image"> </div> </div> <div id="div_id_poster_image" class="control-group"> <label for="id_poster_image" class="control-label requiredField">
                                                    Poster image<span class="asteriskField">*</span> </label> 
                                                    
                                                    <div class="controls"> <input type="file" name="poster_image" accept="image/*" class="clearablefileinput" id="id_poster_image"> </div> </div> <div id="div_id_resume" class="control-group"> <label for="id_resume" class="control-label ">
                                                    Resume
                                                </label> <div class="controls"> <textarea name="resume" cols="40" rows="10" class="textarea" id="id_resume_edit" style="margin-top: 0px; margin-bottom: 0px; height: 152px;"></textarea> </div> </div> <div id="div_id_realisation" class="control-group"> <label for="id_realisation" class="control-label ">
                                                    Realisation
                                                </label> <div class="controls"> <textarea name="realisation" cols="40" rows="10" class="textarea" id="id_realisation_edit"></textarea> </div> </div> <div id="div_id_youtube" class="control-group"> <label for="id_youtube" class="control-label ">
                                                    Youtube
                                                </label> <div class="controls"> <input type="url" name="youtube" maxlength="200" class="urlinput" id="id_youtube_edit"> </div> </div> <div id="div_id_deezer" class="control-group"> <label for="id_deezer" class="control-label ">
                                                    Deezer
                                                </label> <div class="controls"> <input type="url" name="deezer" maxlength="200" class="urlinput" id="id_deezer_edit"> </div> </div> <div id="div_id_spotify" class="control-group"> <label for="id_spotify" class="control-label ">
                                                    Spotify
                                                </label> <div class="controls"> <input type="url" name="spotify" maxlength="200" class="urlinput" id="id_spotify_edit"> </div> </div> <div id="div_id_en_avant" class="control-group"> <div class="controls"> <label for="id_en_avant" class="checkbox "> <input type="checkbox" name="en_avant" class="checkboxinput" id="id_en_avant_edit">
                                                            En avant
                                                        </label> </div> </div>

                                    
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Annuler</button><button class="btn btn-primary" type="submit">Enregistrer</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
     <div class="container" style="margin-top:200px;">
                    <h1 style="font-family: &quot;Bondi&quot;;background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 13px;text-align: center;
                    max-width:390px; margin: 0 auto; margin-bottom:20px">VOS STATISTIQUES</h1>
        
        
                <section id="auth-button"></section>
                <section id="view-selector"></section>
                <section id="timeline"></section>

                <!-- Step 2: Load the library. -->

                <script>
                (function(w,d,s,g,js,fjs){
                g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
                js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
                js.src='https://apis.google.com/js/platform.js';
                fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
                }(window,document,'script'));
                </script>
                <script>
                gapi.analytics.ready(function() {

                // Step 3: Authorize the user.

                var CLIENT_ID = '546538593561-52ug41aq11fvipm61oih442nf876ejau.apps.googleusercontent.com';

                gapi.analytics.auth.authorize({
                    container: 'auth-button',
                    clientid: CLIENT_ID,
                });

                // Step 4: Create the view selector.

                var viewSelector = new gapi.analytics.ViewSelector({
                    container: 'view-selector'
                });

                // Step 5: Create the timeline chart.

                var timeline = new gapi.analytics.googleCharts.DataChart({
                    reportType: 'ga',
                    query: {
                    'dimensions': 'ga:date',
                    'metrics': 'ga:sessions',
                    'start-date': '30daysAgo',
                    'end-date': 'yesterday',
                    },
                    chart: {
                    type: 'LINE',
                    container: 'timeline'
                    }
                });

                // Step 6: Hook up the components to work together.

                gapi.analytics.auth.on('success', function(response) {
                    viewSelector.execute();
                });

                viewSelector.on('change', function(ids) {
                    var newIds = {
                    query: {
                        ids: ids
                    }
                    }
                    timeline.set(newIds).execute();
                });
                });
                </script>
                </div>
        <script src= "static/assets/js/admin_page.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <script src="static/assets/js/script.min.js"></script>

</body>

</html>