{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Triplo v2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhai">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=" static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href=" static/assets/css/admin.css">
</head>

<!-- Prevent the resubmission of the form-->
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

<body style="font-family:comfortaa;">
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
        <div class="navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
<span class="navbar-text actions">
<a class="nav-link btn btn-primary action-button" href="{% url 'site-acceuil' %}" style="color:white;">Page d'acceuil</a></span>
            </ul>
            <span class="navbar-text actions"><a class="btn btn-light action-button" role="button" href="{%url 'deconnexion'%}">Deconnexion</a></span></div>
    </div>
</nav>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Page administrative</h1>
            </div>
        </div>

    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="row no-gutters">
            <div class="col offset-lg-9"><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal_ajout">Ajouter un son</button></div>
        </div>
    </div>
    <div id="titres_block" style="margin-top:50px">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <h1 style="font-family: &quot;Bondi&quot;;background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 13px;text-align: center;">VOS TITRES</h1>
                </div>
            </div>
            <div class="row" id="titres_block" style="margin-top: 20px;">
            
            {% for son in sons%}
                <div class="col-md-3" style="position: relative;margin-top: 50px; display:flex; flex-direction:column; justify-content:space-between;"
                    onmouseover = "displayBadges('delete_badge_{{son.titre}}', 'edit_{{son.titre}}')"
                    onmouseout ="hideBadges('delete_badge_{{son.titre}}', 'edit_{{son.titre}}')"
                    id="{{son.id}}_col">
                    <div class="row">
                        <div class="col-xl-9"><img class="pochette" src="{{son.poster_image.url}}"></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align:center;"><img class="titre_pochette" src="{{son.titre_image.url}}"></div>
                    </div>
                    <div class="row text-center" style="margin-top: 20px;">
                        <div class="col"><form>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="switch_{{son.id}}" 
                            {%if son.en_avant == True%} checked {% endif %}
                            onclick="changeEnAvant(this.id)">
                            <label class="custom-control-label" for="switch_{{son.id}}">Mettre en avant</label>
                        </div>
                        </form></div>
                    </div>
                    <span id="delete_badge_{{son.titre}}" data-toggle="modal" data-target="#modal_supprimer" 
                    class="badge badge-primary spmodal" 
                    style=" cursor: pointer; visibility:hidden; position: absolute;top: -10px;right: 10px;"
                    onclick= "deleteSong({{son.id}})">
                    <i class="fa fa-remove"></i></span>
                    <span id="edit_{{son.titre}}" onclick="getSongInfo({{son.id}})" class="badge badge-primary" style="cursor : pointer; visibility: hidden; position: absolute;top: -10px;left: 10px;">
                    <i class="far fa-edit"></i></span></div>
                    
            {% endfor %}
                    <!-- MODAL SUPPRESSION -->

                    <div class="modal fade" role="dialog" tabindex="-1" id="modal_supprimer">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="font-family: comfortaa;">Supprimer ce titre ?</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id='hide_span' aria-hidden="true">×</span></button></div>
                                <div class="modal-body">
                                    <p>Cette action suprimerra définitivement toutes les informations lié à ce titre de notre base de données. En êtes-vous sure ?</p>
                                </div>
                                {% csrf_token %}
                                <div class="modal-footer"><button  class="btn btn-light" type="button" data-dismiss="modal">Annuler</button><button class="btn btn-danger" id='button_supprimer' type="button">Supprimer</button></div>
                            </div>
                        </div>
                    </div>
            <!-- Modal ajout de son-->
           <div class="modal fade" role="dialog" tabindex="-1" id="modal_ajout">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row">
                                <div class="col-xl-12 offset-xl-3">
                                    <h4 class="modal-title" style="font-family: comfortaa;">Ajout d'un nouveau son</h4>
                                </div>
                            </div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                        <div class="modal-body">
                            <form id="form_ajout" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                    {{form_song|crispy}}
                                    
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Annuler</button><button class="btn btn-primary" type="submit">Enregistrer</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Modal Edit -->
           <div class="modal fade" role="dialog" tabindex="-1" id="modal_edit">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row">
                                <div class="col-xl-12 offset-xl-3">
                                    <h4 class="modal-title" style="font-family: comfortaa;">Editer un son </h4>
                                </div>
                            </div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                        <div class="modal-body">
                        <form id="form_ajout" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            {{update_form|crispy}}
                            
                        <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Annuler</button><button class="btn btn-primary" type="submit">Editer</button></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="container" style="margin-top:200px;">
                    <h1 style="font-family: &quot;Bondi&quot;;background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 13px;text-align: center;
                    max-width:390px; margin: 0 auto; margin-bottom:20px">VOS STATISTIQUES</h1>
        
        <script>
        (function(w,d,s,g,js,fs){
        g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
        js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
        js.src='https://apis.google.com/js/platform.js';
        fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
        }(window,document,'script'));
        </script>
        <div id="embed-api-auth-container"></div>
        <div id="chart-container"></div>
        <div id="view-selector-container"></div>

        <script>

            gapi.analytics.ready(function() {

            /**
            * Authorize the user immediately if the user has already granted access.
            * If no access has been created, render an authorize button inside the
            * element with the ID "embed-api-auth-container".
            */
            gapi.analytics.auth.authorize({
            container: 'embed-api-auth-container',
            clientid: '546538593561-77hqk96juojkujusrre65u8ltspq984o.apps.googleusercontent.com'
            });


            /**
            * Create a new ViewSelector instance to be rendered inside of an
            * element with the id "view-selector-container".
            */
            var viewSelector = new gapi.analytics.ViewSelector({
            container: 'view-selector-container'
            });

            // Render the view selector to the page.
            viewSelector.execute();


            /**
            * Create a new DataChart instance with the given query parameters
            * and Google chart options. It will be rendered inside an element
            * with the id "chart-container".
            */
            var dataChart = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:sessions',
                dimensions: 'ga:date',
                'start-date': '30daysAgo',
                'end-date': 'yesterday'
            },
            chart: {
                container: 'chart-container',
                type: 'LINE',
                options: {
                width: '100%'
                }
            }
            });


            /**
            * Render the dataChart on the page whenever a new view is selected.
            */
            viewSelector.on('change', function(ids) {
            dataChart.set({query: {ids: ids}}).execute();
            });

            });
        </script>
    </div>
        <script src= "static/assets/js/admin_page.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <script src="static/assets/js/script.min.js"></script>

</body>

</html>