<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Triplo v2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhai">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=" static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href=" static/assets/css/admin.css">
</head>

<body>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Page administrative</h1>
            </div>
        </div>

    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="row no-gutters">
            <div class="col offset-lg-9"><button class="btn btn-primary" type="button">Ajouter un son</button></div>
        </div>
    </div>
    <div id="titres_block" style="/*display: none;*/">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <h1 style="font-family: &quot;Bondi&quot;;background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 13px;text-align: center;">VOS TITRES</h1>
                </div>
            </div>
            <div class="row" id="titres_block" style="margin-top: 20px;">
            {% for son in sons%}
                <div class="col-md-3" style="position: relative;margin-top: 50px; display:flex; flex-direction:column; justify-content:space-between;"
                    onmouseover = "displayBadges('delete_badge_{{son.titre}}', 'edit_badge_{{son.titre}}')"
                    onmouseout ="hideBadges('delete_badge_{{son.titre}}', 'edit_badge_{{son.titre}}')">
                    <div class="row">
                        <div class="col-xl-9"><img class="pochette" src=" static/{{son.poster_image}}"></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align:center;"><img class="titre_pochette" src=" static/{{son.titre_image}}"></div>
                    </div>
                    <div class="row text-center" style="margin-top: 20px;">
                        <div class="col"><form>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="switch_{{son.titre}}"
                            {%if son.en_avant == True%} checked {% endif %}>
                            <label class="custom-control-label" for="switch_{{son.titre}}">Mettre en avant</label>
                        </div>
                        </form></div>
                    </div>
                    <span id="delete_badge_{{son.titre}}" class="badge badge-primary" style=" cursor: pointer; visibility:hidden; position: absolute;top: -10px;right: 10px;">
                    <i class="fa fa-remove"></i></span>
                    <span id="edit_badge_{{son.titre}}" class="badge badge-primary" style="cursor : pointer; visibility: hidden; position: absolute;top: -10px;left: 10px;">
                    <i class="far fa-edit"></i></span></div>
            
            
            {% endfor %}
            </div>

        </div>
    </div>
    <script src= "static/assets/js/admin_page.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/script.min.js"></script>

</body>

</html>